
.logo {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.list {
    display: flex;
    gap: 1.5rem;
    /* flex-direction: row; */
}

.list-item {
    text-decoration: none;
    color: #000 ;
    font-weight: bold;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
    opacity: 85%;
}

.list-item:hover {
    opacity: 100%;
    border-bottom: 3px solid var(--accent);
}
.header-container {
    width: 100%;
     /* margin: 1.5rem 3rem; */
    position: fixed;
    z-index: 4;
    top: 0;
}
.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
   
}

.hamburger-btn{
    display: none;
    border: none;
    background-color: transparent;
}

.navbar  #hidden {
    display: block;
}

@media only screen  and (max-width : 600px){

    /* Navbar links not showing */
    .navbar .list {
        display: none;
    }
    
    /* Showing button */
    .hamburger-btn  {
        display: block;
        cursor: pointer;
    }

    
    .navbar  #hidden {
        position: absolute;
        top: 50px;
        left: 0;
        height: 350px;
        width: 100%;
        background-color: var(--accent);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        
        /* z-index: 3; */
    }

    #hidden .list-item {
        border: none;
        font-size: 2.5rem;
        color: #fff;
         transform: translate(0, -20px);
    }
    #hidden .list-item:hover {
        opacity: 70%;
    }

   .header-container  #changeColor {
        background-color: var(--accent);
    }

    .header-container #hideLogo {
        display: none;
    }

    .hamburger-btn #div{
        transform: translate(0, 50px);
      
    }

    
}