
.logo {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.list {
    display: flex;
    gap: 1.5rem;
    /* flex-direction: row; */
}

.list-item {
    text-decoration: none;
    color: #000 ;
    font-weight: bold;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
    opacity: 85%;
}

.list-item:hover {
    opacity: 100%;
    border-bottom: 3px solid var(--accent);
}
.header-container {
    width: 100%;
     /* margin: 1.5rem 3rem; */
    position: fixed;
    z-index: 4;
    top: 0;
}
.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
   
}