.home {
    /* margin-top: 4rem; */
     display: flex;
    justify-content: center;
    background-color:  #FFF89A;
    height: 100vh;
    /* border: 3px solid brown; */
    /* z-index: -1; */
    /* margin-top: 3rem; */
    position: relative;
    overflow: hidden;
   
}
.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  
  
}


/* This with media queries */
/* .home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
  
} */
.title-container {
    height: 60vh;
    width: 100%;
    line-height: 3.5em;
}
/* This will be with media queries */
/* .title-container {
    height: 60vh;
    width: 100%;
    line-height: 5.5vw;
} */

.wrapper-text {
    width: 100%;
   margin-bottom: 2rem;
   position: relative;
   z-index: 2;
 
   
   /* display: flex;
   flex-direction: column;
   justify-content: center; */
}
/* this will be with media queries */
/* .wrapper-text {
    padding-left: 5rem;
    width: 80%;
    margin: 0 auto;
} */



.main-p {
    /* margin: 1.5rem 0; */
    margin-left: 1rem;
    margin-top: 1rem ;
    font-weight: bold;
    font-size: 1.6vw;
    
}

.resume-container {
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}

.letter-animation {
    transition: .3s;
}

.letter-animation:hover {
    /* transform: scale(120%); */
    transform: translateY(20px);
}

.name {
    color: var(--btn-bg-color);
}

.circle {
    
    /* border: 1px solid red; */
    border-radius: 50%;
    position: absolute;
   z-index: 2;
    background-color: var(--accent);
}

.top {
    width: 400px;
    height: 400px;
    top: -270px;
    left: 30%;


}

.left {
    width: 500px;
    height: 500px;
     bottom: -200px;
    left: -150px;



}

.right {
    width: 300px;
    height: 300px;
     bottom: -100px;
    right: -100px;


}
.animation {
    transition: .3s;
    display:inline;
    /* display: inline-block; */
  
}
.animation:hover {
    color: var(--accent);
    transform: scale(1.3);
}


@media only screen and (max-width: 600px) {

    /* Home */
.circle {
    display: none;
}

.nav-container {
    padding: 1rem;
}

.main-title {
    font-size: 6rem;
    line-height: 5.5rem;
    padding: 0;
    /* padding-top: 2.5rem; */
    /* padding-right: 2.5rem; */
}

.main-p {
    margin-top: 1rem;
    margin-left: 0;
    /* padding-right: 2.5rem; */
    font-size: 1.5rem;
    line-height: 2rem;
    
}

.wrapper-text {
    /* padding-left: 3rem; */
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;

}

.social-links {
   display: none;

}



} 

@media only screen and (max-width: 800px) {

  
   .main-title {
  
     font-size: 4.5rem;
    line-height: 3.8rem; 
 
   
}

 .top {
    width: 200px;
    height: 200px;
    top: -120px;
    
} 

.left {
    width: 300px;
    height: 300px;

}
.main-p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-right: 1rem;
    margin: 1.5rem 0;

}

.sub-title {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
}

} 
@media only screen and (min-width: 800px) {

   .main-title {
  
     font-size: 5rem;
    line-height: 4rem; 
 
   
}

 .top {
    width: 300px;
    height: 300px;
    top: -180px;
    
} 

.left {
    width: 400px;
    height: 400px;
  


}

.main-p {
    font-size: 1.5rem;
}
} 
@media only screen and (min-width: 1000px) {

   .main-title {
    font-size: 6rem;
    line-height: 5rem; 
}

 .top {
    width: 400px;
    height: 400px;
    top: -270px;
    
} 

.left {
    width: 500px;
    height: 500px;
  


}
}

