.home {
    /* margin-top: 4rem; */
     display: flex;
    justify-content: center;
   
}

.title-container {
    /* border: 1px solid black; */
    margin-top: 15rem;
 
  
}

.main-title {
    font-size: 8rem;
      letter-spacing: .3rem;
      line-height: 6rem;
      color: var(--btn-bg-color);
   
}

.main-p {
    margin: 2rem 0;
    font-size: 2rem;
}

.resume-container {
    width: 100%;
    text-align: center;
}
