.home {
    /* margin-top: 4rem; */
     display: flex;
    justify-content: center;
    background-color:  #FFF89A;
   
}

.title-container {
    /* border: 1px solid black; */
    margin-top: 15rem;
 
  
}



.main-p {
    margin: 2rem 0;
    font-size: 2rem;
}

.resume-container {
    width: 100%;
    text-align: center;
}
