
.stack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
  

}

.flex-item {
   /* border: 2px solid blue; */

}

.grid-skills {
    width: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap; 
    margin-top: 2rem;
  

}



.stack-img {
    width: 170px;
    max-width: 100%;
}

.stack-name {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}

@media only screen and (max-width : 800px) {

  .stack-img{
    width: 50%;
  }

  .grid-skills {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}