
.stack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
  

}

.flex-item {
   /* border: 2px solid blue; */

}

.grid-skills {
    width: 50%;
   
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    /* flex-direction: column; */
    /* border: 1px solid red; */
    flex-wrap: wrap;
    margin-top: 2rem;
    /* overflow: scroll; */

}



.stack-img {
    width: 170px;
    max-width: 100%;
}

.stack-name {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}