
:root {

  --btn-bg-color: #064663;
  --accent: #7D0633;
}
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Lobster Two', cursive;
}

.app {
  position: relative;
}
.wrapper {
  width: 100vw;
  /* height: 100vh;  took it out now to check responsiveness*/ 

 
}


/* .title {
    margin-bottom: 4rem;
} */


.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5rem;
    flex-direction: column;

  
   
}
.main-title {


  font-size: clamp(2rem, 8vw, 10rem);
  /* font-size: 8rem; */
  font-weight: 700;
  line-height: 9vh;
  /* margin: 0; */
  
  color: var(--accent);
  padding: 3rem 0;
   
}


.sub-title {
  font-size: 6rem;
  line-height: 6rem;
  color: var(--accent);
  margin: 2rem 0;

}

.flex {

  /* border: 1px solid green; */
  display: flex;
  /* flex-wrap: wrap; */
 
  gap: 2rem;
    
}


.btn {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    /* -webkit-box-shadow: #26394d 0px 20px 30px -10px; */
    box-shadow: #26394d 0px 20px 30px -10px;
    padding: 1.1rem 3rem;
    background-color: #064663;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border: none;
    border-radius: 5px;
    cursor: pointer;
        
}

.btn:hover {

  background-color: var(--accent);
  opacity: 90%;

}